body {
    background: #F5F5F5;
}

/* Menu start */
.nav-wrapper a {
    padding-left: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #F5F5F5;
}
/* Menu end */

/* Formulario start */
.wrap {
    width: 50%;
    margin: auto;
    padding-top: 20px;
}

.wrap div .card-panel .header2 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
/* Formulario end */