body {
    background: #F5F5F5;
}

.nav-wrapper a {
    padding-left: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #F5F5F5;
}

/*Footer*/
.page-footer p {
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 35px;
}